section 
{
	font-family: Georgia, serif;
	margin-top: 10px;
	padding: 0px 10px 0px 30px;
	position:relative;
	height: auto; 
	width: 600px; 
	float: left;
	border-right:2px solid #FF8C00;
	
}
section img 
{
	float:right;
	border: 1px solid black;
	margin: 5px;
	
}
aside 
{
	margin-top: 10px; 
	position: relative;
	width:300px; 
	float:right;
	padding-right:20px;
	/*border-left: 2px solid #FF8C00;*/
	border:0;
}
