/* So the HTML5 semantic elements can be formatted correctly*/
article, aside, figure, footer, header, nav, section {
	display:block;
}
html
{ 
	background: url('../images/back_05.png'); 
	background-repeat: repeat-y repeat-x; 
}
body {
	margin: 0 auto;
	width: 980px;
	background-color: white;
	height:auto;
	font-size: 18px;
	box-shadow:  0 0 50px 4px grey;

}
@font-face {
	font-family: garton;
	src: url('fonts/garton.ttf?#iefix') format('embedded-opentype'),;
	font-family: niconne;
	src: url('fonts/niconne.ttf?#iefix') format('embedded-opentype'),;
	font-family: exmouth;
	src: url('fonts/exmouth.ttf?#iefix') format('embedded-opentype'),;
}
header {

	height:147px;
	

}
header img {
	float:left;
	padding: 10px 0 10px 0;
	border: 0px;
}
header p {
	float: right;
	font-size: 16px;
	font-weight: bold;
	color:#FF8C00;
	text-align: center;
	padding: 10px 20px 0 0;
}
section 
{
	font-family: Georgia, serif;
	margin-top: 30px;
	position:relative;
	height: auto; 
	width: 600px; 
	float: left;
	
	
}
aside 
{
	margin-top: 30px; 
	position: relative;
	width:360px; 
	float:right;
	padding-left: 16px;
	border-right: 2px solid #FF8C00;	
}
footer
{
	
	clear:both;
	border-top: 6px double #FF8C00;
	background-color: white;
	padding: 20px 40px 10px 40px;
	font-size: 14px;
	text-align: center;
	
}
footer p
{
	font-family:"Times New Roman", Times, serif;
	font-size:12px;
}
h1 {
	
	font-size:24px;
	font-family:Tahoma, Geneva, sans-serif;
	background: #F0F0F0;
	padding:10px 0px 10px 40px;
	color:#FF8C00;
	margin-top:0px;
	
}
h2
{
	color: #FF8C00;
}
h3
{
	color: #2660b2;
}
h4 
{
	
}
#spanish
{
	padding: 50px 0 0 40px;
	height: 40px;
	width: 100px; 
}
#english 
{
	position: relative;
	top:60px;
	left:20px;
	font-size: 12px;
	font-weight: bold;
	border: 1px solid #183d71;
	text-decoration:none;
	padding: 6px;
	color:white;
	background-color: #183d71;
}
#english:hover
{
	color: white;
	
}